html {
  height: 100%;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

body {
  background-color: black;
}

.btn {

  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #000000 0%, #c500cc 100%);
  padding: 10px 30px;
  border: solid #000000 2px;
  box-shadow: rgb(0, 0, 0) 3px 5px 26px 5px;
  border-radius: 50px;
  transition: 1000ms;
  align-items: center;
  cursor: pointer;
}

.btn:hover {

  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #000000 0%, #c500cc 100%);
  color: #0066cc;
  border: solid 2px #0066cc;
}